<%- include("header") -%>

    <h1 style="color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ea nostrum ab eveniet cum fugiat debitis voluptates veritatis quod officia similique consectetur reiciendis soluta aliquam perspiciatis, omnis, dolor recusandae minima.</h1>

<%- include("footer") -%>